src/main/resources/schema/c8.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:zeebe="http://camunda.org/schema/zeebe/1.0"
           targetNamespace="http://camunda.org/schema/zeebe/1.0"
           elementFormDefault="qualified">

    <xs:element name="zeebe" type="zeebe:ZeebeType"/>

    <xs:complexType name="ZeebeType">
        <xs:sequence>
            <xs:element name="taskDefinition" type="xs:string" minOccurs="0"/>
            <xs:element name="input" type="xs:string" minOccurs="0"/>
            <xs:element name="output" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>